CSV_hidden_test.csv
CSV_test.csv
CSV_train.csv
basementtrain_north.csv
jurassictrain_old.csv
test_south.csv
triassictrain.csv
basementtrain_old.csv
basementtrain_south.csv
basementtrain.csv
cenozoichiddentest_north.csv
cenozoichiddentest_old.csv
cenozoichiddentest_south.csv
cenozoichiddentest.csv
cenozoicmerge_north.csv
cenozoicmerge_south.csv
cenozoictrain_north.csv
cenozoictrain_old.csv
cenozoictrain_south.csv
cenozoictrain.csv
cretaceoushiddentest_north.csv
cretaceoushiddentest_old.csv
cretaceoushiddentest_south.csv
cretaceoushiddentest.csv
cretaceousmerge_north.csv
cretaceousmerge_south.csv
cretaceoustrain_north.csv
cretaceoustrain_old.csv
cretaceoustrain_south.csv
cretaceoustrain.csv
hiddentest_data.csv
hiddentest_dataEDA.csv
hiddentest_north.csv
hiddentest_south.csv
jurassichiddentest_north.csv
jurassichiddentest_old.csv
jurassichiddentest_south.csv
jurassichiddentest.csv
jurassicmerge_north.csv
jurassicmerge_south.csv
jurassictrain_north.csv
jurassictrain_south.csv
lowertriassichiddentest_north.csv
lowertriassichiddentest_old.csv
lowertriassichiddentest_south.csv
lowertriassichiddentest.csv
lowertriassicmerge_north.csv
lowertriassicmerge_south.csv
lowertriassictrain_north.csv
lowertriassictrain_old.csv
triassictrain_south.csv
lowertriassictrain_south.csv
merge_data_old.csv
permianhiddentest_north.csv
permianhiddentest_old.csv
permianhiddentest_south.csv
permianhiddentest.csv
permianmerge_north.csv
permianmerge_south.csv
permiantrain_north.csv
permiantrain_old.csv
permiantrain_south.csv
permiantrain.csv
Stratigraphy_formation-group_per_well.csv
test_data.csv
test_north.csv
train_north.csv
train_south.csv
triassichiddentest_north.csv
triassichiddentest_old.csv
triassichiddentest_south.csv
triassichiddentest.csv
triassicmerge_north.csv
triassicmerge_south.csv
triassictrain_north.csv
triassictrain_old.csv
train_data.csv
jurassictrain.csv
cenozoic_mergedata.csv
cretaceous_mergedata.csv
jurassic_mergedata.csv
lowertriassic_mergedata.csv
mergedata.csv
triassic_mergedata.csv
sgrrhoball_mergedata.png
grrhoball_mergedata.png
nphirhoball_mergedata.png
pefrhoball_mergedata.png
dtcrhoball_mergedata.png
nphirhoball_mergedata.png
Composite_well_15-9-23.png
wellinputspecproject.csv
well_specproject.csv
/nphirhoball_mergedata.png
/.vscode
/Stratigraphic column example.ipynb
/lowertriassic_mergedata_old.csv
/triassic_mergedata_old.csv
/jurassic_mergedata_old.csv
/cretaceous_mergedata_old.csv
/cenozoic_mergedata_old.csv
/mergedata_old.csv
nphirhoball_lowertriassicdata_old.png
